servlet/src/main/resources/META-INF/resources/dtd/cache-control-1.0.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    Copyright 2015 Steffen Kremp
    
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE cache-control SYSTEM "cache-control-1.0.dtd">

    <cache-control>
    ...
    </cache-control>
-->

<!ELEMENT cache-control (rule)*>
<!ELEMENT rule (path|directive)*>
<!ELEMENT path (#PCDATA)>
<!ELEMENT directive (#PCDATA)>
